<section class="container">
  <figure class="relative grid grid-cols-1 lg:grid-cols-2">
    <picture class="lg:w-[120%]">
      <source
        media="(min-width: 640px)"
        srcset="/assets/images/desktop/image-interactive.jpg"
      />
      <img
        src="/assets/images/mobile/image-interactive.jpg"
        alt="The leader in interactive vr"
        class="w-full h-full lg:h-[450px]"
      />
    </picture>
    <figcaption
      class="bg-white p-4 lg:pt-24 lg:pr-12 lg:p-0 lg:pl-24 lg:absolute right-0 bottom-0 lg:w-[52%] mt-12 lg:mt-0"
    >
      <h2 class="text-4xl text-center lg:text-left">
        The leader in <br />
        interactive vr
      </h2>
      <p class="mt-6 text-zinc-500 text-center lg:text-left max-w-md mx-auto lg:mx-0">
        Founded in 2011, Loopstudios has been producing world-class virtual reality projects for
        some of the best companies around the globe. Our award-winning creations have transformed
        businesses through digital experiences that bind to their brand.
      </p>
    </figcaption>
  </figure>
</section>
